<div class="<%= location %>">
  <div><%= link_to "Home", root_path %></div>
  <div><%= link_to "Über uns", about_me_path %></div>
  <div><%= link_to "Kontakt", contact_path %></div>
  <div><%= link_to "Blog", blogs_path %></div>
  <div><%= link_to "Unser Team", portfolios_path %></div>
</div>